
<div id="demo1" class="my-4">
  <b>1. EmberKeyNavigation Component with search input element</b>
</div>

{{#docs-demo class="input-test" as |demo|}}
  {{#demo.example name="demo1-example.hbs"}}
    <EmberKeyNavigation @model={{this.results}} as |navigationWrapper|>
      <div class="mb-1">
        <Input @class="form-control" @type="search" @autofocus="true" @value={{this.search_text}} @autocomplete="off" @placeholder="Search" />
      </div>
      <div class="navigation-list-container list-group">
        {{#each this.results as |result|}}
          <navigationWrapper.item @class="list-group-item list-group-action" @model={{result}} @onSelect={{action doStuff}}>
            {{result}}
          </navigationWrapper.item>
        {{/each}}
      </div>
    </EmberKeyNavigation>
  {{/demo.example}}

  {{demo.snippet "demo1-example.hbs"}}
  {{demo.snippet "demo1.js" label="component.js"}}
{{/docs-demo}}