
<div id="demo3" class="my-4 heading-anchor">
  <b>3. EmberKeyNavigation Component with custom nav item component</b>
</div>

<DocsDemo @class="input-test" as |demo|>
  <demo.example @name="demo3-example.hbs">
    <EmberKeyNavigation @navigationItem="myOwnNavItem" @model={{this.results}} as |navigationWrapper|>
      <div class="mb-1">
        <Input class="form-control" @type="search" autofocus="true" @value={{this.search_text}} autocomplete="off" placeholder="Search" />
      </div>
      <div class="navigation-list-container list-group">
        {{#each this.results as |result|}}
          <navigationWrapper.item @class="list-group-item list-group-action" @model={{result}} />
        {{/each}}
      </div>
    </EmberKeyNavigation>
  </demo.example>

  <demo.example @name="myOwnNavItem.hbs">
    {{formattedCountryName}}
  </demo.example>

  {{demo.snippet "demo3-example.hbs"}}
  {{demo.snippet "demo3.js" label="component.js"}}
  {{demo.snippet "myOwnNavItem.hbs" label="myOwnNavItem.hbs"}}
  {{demo.snippet "myOwnNavItem.js" label="myOwnNavItem.js"}}
</DocsDemo>